<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>745227881924-7rcos9alrfjlgk4npc1hejp6jrgpa3iv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.745227881924-7rcos9alrfjlgk4npc1hejp6jrgpa3iv</string>
	<key>API_KEY</key>
	<string>AIzaSyALm7Q1H_SoSnfBd4RODiuP9XvaQ-GJBZs</string>
	<key>GCM_SENDER_ID</key>
	<string>745227881924</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>prueba.tecnica.Bookiverse</string>
	<key>PROJECT_ID</key>
	<string>bookverse-47986</string>
	<key>STORAGE_BUCKET</key>
	<string>bookverse-47986.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:745227881924:ios:6847535880d43ead38a891</string>
</dict>
</plist>